*{
    margin:0;            
 }
 main{
    width:60%;
    margin: auto;            
    height: 1000px;
    background-color: rgb(239, 223, 253);
}
header{
    height: 150px;
    background-color: white;
    
    position:sticky;
    top:0;       
 }
 #menu1{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menu1 a{
    padding:10px;
    color:c;
    text-decoration: none;
}
.persona{
    width: 20;

}
.grid-container{
    display: grid;
    grid-template-areas: "cabecera cabecera cabecera "
                          "contenido contenido imagen"
                          "persona personas imagen"
                          "pie pie pie" ;
                          text-align: center;
                          grid-gap:.8rem ;
                          
}
.cabecera{
    background-color: rgb(92, 48, 117);
    padding: 30px;
    color: white;
    grid-area: cabecera;
}
.contenido{
    grid-area: contenido;
    margin: auto;
}
.persona{
    grid-area: persona;
}
.imagen{
    grid-area: imagen;
}
.pie{
    grid-area: pie;
    padding: 30px;
    background-color: rgb(92, 48, 117);
    color: white;
}
hr {
    border: 0;
    height: 2px;
    background-color:rgb(247, 145, 86); 
    margin: 20px 0; 
    width: 90%;
    margin: auto;

}
#menu1 a:hover{
    color:rgb(138, 6, 6);
}
#mc{
    text-align: center;
    list-style-type: none; 
}
h1{
    font-size: 80px;
}
#subtitulo{
    display: flex;
    justify-content: space-between;
}
#d1{
    text-align: center;
}

#iconos{
    display: flex;
    justify-content: center;
}
.circulo{
    border-radius: 250px;
    margin: 10px;
    padding: 5px;
}
#audio-hidden {
    display: none;
  }
