body{
    margin:0;
    padding:0;
    background-image: url(img/fondoo.jpg); /* Cambia 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente el div */
  }
#fondo{
    min-width: 100%;
    min-height: 100%;
    z-index: 20;

}
#inicio{
    width:85%;
    margin:25px auto;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
.inicios{
    padding-left: 10px;
}
section{
    width:85%;
    margin:25px auto;
    display: flex;
}
#cabecera{
    padding: 30px;
    list-style-type: none;
    background:linear-gradient(45deg,rgb(189, 68, 68), rgb(235, 235, 85),rgb(231, 100, 100),rgb(231, 231, 86));
}
#sincolor{
    color: inherit;
}
h4{
    color: black;
    text-align: center;
}
#menu1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#menu1 a{
    padding:10px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}
#menu1 a:hover{
    background-color: rgb(253, 110, 82);
    color:rgb(255, 255, 255);
}
#tarifario{
    width: 70%;
    margin-top: 60px;
}
.formulario{
    width:300px ;
    margin:20px auto ;
    border: 1px solid black;
    background-color:  brown;
    color: white;
    padding: 20px;
    border-radius: 15px;
}
h4{
    text-align: center;
    color: rgb(247, 247, 247);
    margin: 10px;
}
h2{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 10px;
 }
.boton{
    background-color: rgb(252, 201, 201);
    border-radius: 5px;
    width: 300px;
    border: solid 1px yellow;
    
}
.botones{
    margin: 10px;
    padding: 5px;
    text-align: center;
}
@font-face{
    font-family:renzo ;
    src: url(fons/Oswald/Oswald-VariableFont_wght.ttf);
}
#pie{
    margin: auto;
    column-count:4 ;
    column-gap: 1em;
    column-rule-color: rgb(255, 255, 255);
    column-rule-style: dashed;
    column-rule-style:1px ;
    column-width: 80px;
    background-color: brown;
    color: white;
}

h1,h2,h3{
    column-span: all;/*crear columnas*/
    text-align: center;
}
table{
    
    border-radius: 5px;
    text-align: center;
}
td{
    border: solid 3px rgb(253, 235, 176);
}
#pie{
    padding: 30px;

}
.parrafo{
    padding: 50px;

}
#audio-hidden {
    display: none;
  }
  